numpy
scipy
matplotlib
pandas
seaborn
jupyter
ipywidgets
nbdime
emcee==3.0.2
ptemcee==1.0.0
corner
jupyter_nbextensions_configurator
scikit-learn
scikit-image==0.17.2
rise
GPy==1.9.9
gpyopt  
pymultinest
pymc3==3.9.2

